'editor':
  'showIndentGuide': true
  'fontFamily': 'Inconsolata'
  'fontSize': 14
  'invisibles': {}
'core':
  'ignoredNames': [
    '.bundle'
    '.git'
    'log'
    'repositories'
    'tmp'
    'vendor'
  ]
  'themes': [
    'unity-dark-ui'
    'atom-dark'
  ]
  'hideGitIgnoredFiles': true
  'disabledPackages': [
    'background-tips'
    'exception-reporting'
    'metrics'
  ]
'spell-check':
  'grammars': [
    'text.plain'
    'source.gfm'
    'text.git-commit'
  ]
'welcome':
  'showOnStartup': false
'release-notes':
  'viewedVersion': '0.89.0'
