"*":
  "*":
    editor:
      fontFamily: "Inconsolata"
      showIndentGuide: true
    core:
      ignoredNames: [
        ".bundle"
        ".git"
        "log"
        "repositories"
        "tmp"
        ".DS_Store"
      ]
      disabledPackages: [
        "background-tips"
        "exception-reporting"
        "metrics"
      ]
    "spell-check":
      grammars: [
        "text.plain"
        "source.gfm"
        "text.git-commit"
      ]
    welcome:
      showOnStartup: false
    "release-notes":
      viewedVersion: "0.89.0"
    "file-icons":
      forceShow: true
    "atom-terminal":
      app: "iTerm.app"
    "highlight-line":
      hideHighlightOnSelect: true
      enableSelectionBorder: true
      underline: "dashed"
    "tree-view":
      hideIgnoredNames: true
      hideVcsIgnoredFiles: true
  "exception-reporting":
    userId: "8423fcff-ba76-a740-533d-a3bf1b94acbc"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
  minimap: {}
