{{ if eq .osid "linux-omarchy" -}}

{{ $packages := list
      "git-delta"
      "git-lfs"
      "readline" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}pacman -S {{ $packages | join " " }}

{{ end -}}
